* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', sans-serif;
    color: #fff;
}

body {
    background-image: url('back7.jpeg'); 
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.config {
    position: absolute;
    top: 20px;
    right: 20px;
}

.config img {
    width: 55px; 
    cursor: pointer;
}

.container {
    text-align: center;
    max-width: 90%;
}

.title {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 45px;
    margin-top: 270px;
    margin-bottom: 120px;
    zoom: 60%;
}

.button {
    padding: 1rem 3rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #F9EA8A;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; 
    width: 80%; 
    max-width: 400px; 
}

.button:hover {
    background-color: #F2E1A3;
}

.button p {
    font-family: 'Press Start 2P', sans-serif ;
    font-weight: bold;
    font-size: 22px;
    background: linear-gradient(180deg, rgba(251,178,38,1) 26%, rgba(199,47,30,1) 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.largo-btn {
    width: 100%; 
    max-width: 300px; 
    margin: 1rem auto;
    
}
